.DS_Store
.idea
__pycache__/
*.pyc
*.egg-info/
*.jsonl
*.csv
*.json

results-0608-n=8-k=8/
results-chat-n=32-k=8/
results-n=32-k=8/
wandb/

train/openrlhf/trainer/ppo_utils/qwen_math_eval_toolkit/__pycache__
train/openrlhf/trainer/__pycache__
train/openrlhf/utils/__pycache__
train/openrlhf/trainer/ppo_utils/__pycache__
train/openrlhf/trainer/ray/__pycache__
train/openrlhf/models/__pycache__
train/openrlhf/datasets/__pycache__
train/openrlhf/cli/__pycache__
train/checkpoints/
train/.cache/
eval/wandb/
eval/eval_results
eval/qwen3_30b_a3b_deepscaler
eval/qwen3_30b_a3b_deepscaler--0515
eval/qwen3_30b_a3b_deepscaler--0602
train/examples/script/wandb